/* ===== GLOBAL ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
    overflow-x: hidden;
}

/* ===== NAVBAR ===== */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 8%;
    background: rgba(15, 23, 42, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(8px);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 600;  
    font-size: 18px;    
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -6px;
    background: #38bdf8;
    transition: 0.3s;
}

.navbar a:hover::after {
    width: 100%;
}

/* ===== SECTIONS ===== */
.page-section {
    min-height: 100vh;
    padding: 120px 10%;
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0;
    opacity: 0;
    transform: scale(.98);
    transition: all .7s ease;
}

.page-section.active {
    left: 0;
    opacity: 1;
    transform: scale(1);
}
/* ===== HOME ===== */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0f172a;
    color: #fff;
    padding: 0 10%;
}

.hero-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.hero-text {
    flex: 1;
}

.hero-title {
    font-size: 60px;
    font-weight: 700;
    color: #38bdf8;
    margin-bottom: 10px;
}

.hero-name {
    font-size: 34px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 15px;
    white-space: nowrap;
}

.hero-text p {
    font-size: 18px;
    color: #cbd5f5;
    margin-top: 10px;
    max-width: 520px;
    line-height: 1.8;
}

.hero-text button {
    margin-top: 25px;
    padding: 12px 28px;
    background: #38bdf8;
    border: none;
    color: #0f172a;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.hero-text button:hover {
    transform: translateY(-2px);
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #38bdf8;
    object-fit: cover;
}


/* ===== TITLES ===== */
.section-title {
    font-size: 38px;
    text-align: center;
    color: #38bdf8;
    margin-bottom: 50px;
}

/* ===== ABOUT ===== */
.about-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 50px;
    max-width: 1100px;
    margin: auto;
}

.about-text p {
    font-size: 17px;
    line-height: 1.9;
    color: #cbd5f5;
    margin-bottom: 15px;
}

.about-skills h3,
.education h3 {

    color: #38bdf8;  
   font-size: 24px;
    margin-bottom: 15px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 15px;
}

.skills-grid span {
    padding: 12px;
    background: #020617;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    border: 1px solid rgba(56,189,248,.3);
    color: #38bdf8;
}

/* ===== WORK ===== */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    max-width: 1100px;
    margin: auto;
}

.project-card {
    background: #020617;
    padding: 28px;
    border-radius: 18px;
    border: 1px solid rgba(56,189,248,.12);
}

.project-card h3 {
    color: #38bdf8;
    margin-bottom: 6px;
    font-size: 20px; 
}

.project-card span {
    font-size: 13px;
    color: #94a3b8;
}

.project-card p {
    margin-top: 12px;
    line-height: 1.6;
    color: #cbd5f5;
}

/* ===== CONTACT ===== */
.contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.contact-card {
    background: #020617;
    padding: 40px 20px;
    border-radius: 18px;
    border: 1px solid rgba(56,189,248,.12);
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-card h3 {
    font-size: 22px;
    color: #38bdf8;
    margin-bottom: 15px;
}

.contact-card p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    word-wrap: break-word;
}




/* ===== FOOTER ===== */
.footer {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #94a3b8;
}
